@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2em;
}

footer {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bolder;
  background-image: gradient(linear, left top, right top,
        color-stop(0, red),
        color-stop(0.15, orange),
        color-stop(0.3, yellow),
        color-stop(0.45, green),
        color-stop(0.65, blue),
        color-stop(0.8, indigo),
        color-stop(1, violet)
      );
      color:transparent;
      background-clip: text;
      background-image: -webkit-gradient(linear, left top, right top, 
        color-stop(0, red),
        color-stop(0.15, orange),
        color-stop(0.3, yellow), 
        color-stop(0.45, green), 
        color-stop(0.65, blue),
        color-stop(0.8, indigo),
        color-stop(1, violet)
      );
      -webkit-background-clip: text;
}

a:hover {
  transition: .3s;
  font-size: 1.8em;
}

h3 {
  margin-top: -1vw;
  color: gray;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: rgb(211, 211, 4);
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}